			
	<!-- Start footer -->
	<footer id="mu-footer" role="contentinfo">
    <div class="container">
      <div class="mu-footer-area">
        <div class="mu-footer-top">
          <div class="mu-social-media">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="mu-footer-bottom">
          <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right reserved.</p>
        </div>
      </div>
    </div>

</footer>
<!-- End footer -->



  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
<!-- Slick slider -->
  <script type="text/javascript" src="assets/js/slick.min.js"></script>
  <!-- Event Counter -->
  <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
  <!-- Ajax contact form  -->
  <script type="text/javascript" src="assets/js/app.js"></script>

     

  <!-- Custom js -->
<script type="text/javascript" src="assets/js/custom.js"></script>
