<header id="mu-hero" class="" role="banner">
  <!-- Start menu  -->
  <nav class="navbar navbar-fixed-top navbar-default mu-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Logo -->
          <a class="navbar-brand" href="index.html">{{ site.title }}</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mu-menu navbar-right">
              <li><a href="#mu-hero">Home</a></li>
              <li><a href="#mu-about">About Us</a></li>
              <li><a href="#mu-schedule">Schedule</a></li>
                <li><a href="#mu-speakers">Team</a></li>
                <li><a href="#mu-pricing">Participation</a></li>
                <li><a href="#mu-register">Register</a></li>
                <li><a href="#mu-sponsors">Sponsors</a></li>
                <li><a href="#mu-contact">Contact</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <!-- End menu -->

  <div class="mu-hero-overlay">
    <div class="container">
      <div class="mu-hero-area">

        <!-- Start hero featured area -->
        <div class="mu-hero-featured-area">
          <!-- Start center Logo -->
          <div class="mu-logo-area">
            <!-- text based logo -->
            <a class="mu-logo" href="#">{{ site.title }}</a>
            <!-- image based logo -->
            <!-- <a class="mu-logo" href="#"><img src="assets/images/logo.jpg" alt="logo img"></a> -->
          </div>
          <!-- End center Logo -->

          <div class="mu-hero-featured-content">

            <h1>HELLO! WELCOME TO {{ site.title }}</h1>
            <h2>{{ site.tagline }}</h2>
            <p class="mu-event-date-line">{{ site.date }}</p>

            <div class="mu-event-counter-area">
              <div id="mu-event-counter">
                
              </div>
            </div>

          </div>
        </div>
        <!-- End hero featured area -->

      </div>
    </div>
  </div>
</header>
<!-- End Header -->

